/*
* adapt-strickle
* License - http://github.com/adaptlearning/adapt_framework/LICENSE
* Maintainers - Oliver Foster <oliver.foster@kineo.com>
*/

html.strickle {
	height:100%;
	
	body {
		overflow: hidden;
		padding-bottom:20px;
		@media all and (min-width:(@device-width-medium)) {
			&.body-wrapper-bottomnavigation {
				padding-bottom: 80px;
			}
		}
	}

}

.strickle-fixed-bottom {
	display:none;
	&.strickle-is-active {
		display:block;
		position:fixed;
		bottom:0px;
		left:0px;
		width: 100%;
		z-index: 1;
		button {
			width:100%;
		}
	}
}