<div class="strickle-button-inner component-inner{{#if _isActive}} strickle-is-active{{/if}}{{#if _isFixedBottom}} strickle-fixed-bottom{{/if}}">
    <button role="button" aria-label="{{_accessibility._ariaRegions.strickle-button}}">Continue</button>
</div>