<div class="strickle-button-inner component-inner{{#if _isLocked}} locked{{/if}} {{_strickle._buttonType}}">
    	<button role="button" {{#if _strickle._buttonClasses}}class="button {{ _strickle._buttonClasses}}"{{/if}}>{{_strickle.button}}</button>
</div>
