<div class="strickle-button-inner component-inner{{#if _isActive}} strickle-is-active{{/if}}{{#if _strickle._isFixedBottom}} strickle-fixed-bottom{{/if}}">
    <button role="button">{{body}}</button>
</div>